In [1]:
import pandas as pd

In [2]:
pd.read_csv(r'C:\Users\SANNI\Desktop\MyCSVfile.csv')

     name Grade     RollNo  batchNo
0   segun    A+  python001        2
1     ade     B  anaconda2        9
2  rahmah   A++   Jupyter1        1
3     ola     B  python001        3

In [3]:
pd.read_csv(r'C:\Users\SANNI\Desktop\MyTSVFile.tsv')

              File EmailID\tBatch
0   aleen abc@yahoo.com\tpthyon01
1  segz\tbon@gmail.com\tpython001